/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .card, .dropdown-menu{
    border-width: 0 !important;
  }

  .i-1{
    font-size: 70px;
  }

  .nav-item:hover,  .dropdown-item:hover{
    background-color: #e57373 !important;
  }
  .dropdown-menu{
    background-color: #DC3545;
  }

}

.badge > a {
  color: inherit;
}